<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action = '/vote'>
	<input type="text" name="name"><br>
	apple<input type="radio" name="vote" value="apple"><br>
	banana<input type="radio" name="vote" value="banana"><br>
	orange<input type="radio" name="vote" value="orange"><br>
	<input type="submit" value="vote">
</form>
</body>
</html>