<h1>Post#editpost</h1>
<p>Find me in app/views/post/editpost.html.erb</p>
<div class="card bg-light" style="width: 70rem;">
  <div class="card-body">
	<form action="/post/update/<%=@id%>">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Title</label>
	    <input type="text" class="form-control" placeholder="Title here" name="title" value="<%=@title%>">
	    post_id: <%=@id%>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Content</label>
	    <input type="text" class="form-control" placeholder="Write Here" name="content" value="<%=@content%>">
	  </div>
	  <button type="submit" class="btn btn-secondary">Post</button>
	</form>
  </div>
</div>