<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1><%= @menu %></h1>
<img src="<%= @url %>" width="400" height="300">
<a href="/random">다시 골라주세요</a>
<a href="/">홈으로 돌아가기</a>
</body>
</html>