<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>뭐든지 검색해요.</h1>
	<form action="https://search.naver.com/search.naver">
		<!-- input name은 key값 value는 적용값 -->
		naver<hr>
		검색어 <input type="text" name="query"> <!-- 검색내용보내는 녀석 -->
		<input type="submit" value="검색">
	</form>
	<p></p>
	<form action="https://www.google.co.kr/search">
		google<hr>
		검색어 <input type="text" name="q">
		region <input type="text" name="gl" width="3">
		<input type="submit" value="검색">
	</form>
</body>
</html>