<h1>Page#join</h1>
<p>Find me in app/views/page/join.html.erb</p>
<form action="/page/join_process">
	<input type="text" name="account">
	<input type="password" name="password">
	<input type="submit">
	<input type="" name="authenticity_token" value="<%=form_authenticity_token%>">

</form>