<h1>User#login</h1>
<p>Find me in app/views/user/login.html.erb</p>
<div class="card bg-light" style="width: 70rem;">
  <div class="card-body">
	<form action="/user/login_process">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Email address</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Password</label>
	    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
	  </div>
	  <button type="submit" class="btn btn-secondary">Join</button>
	</form>
  </div>
</div>