<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> <!-- 페이지인코딩 -->
	<title></title>
</head>
<body>
	<h1>Data from op.gg</h1>
	<form action="http://www.op.gg/summoner/">
		<input type="text" name="userName">
		<input type="submit" value="search">
	</form>
	<p></p>
	<h1>localhost에서 검색결과 보여주기</h1>
	<form action="/search">
		<input type="text" name="userName">
		<input type="submit" value="send">
	</form>
</body>
</html>