<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1><%= @encoded_userName%></h1>
	<h3>win :<%= @win%></h3>
	<h3>lose:<%= @lose%></h3>
	<h3>tier:<%= @tier%></h3>
	<a href="/">index로 돌아가기</a>
</body>
</html>