<h1>Post#newpost</h1>
<p>Find me in app/views/post/newpost.html.erb</p>
<form action="/post/create">
	<input type="text" name="title">
	<br>
	<input type="text" name="content">
	<input type="submit">
</form>